body {
    margin: 0;
    overflow: hidden;
    font-family: "Comic Sans MS";
    background: black;
    color: rgb(98, 98, 98);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 4em;
    background: #555;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#importLabel:hover, #exportLabel:hover {
    color: gray;
}

#importLabel, #exportLabel {
    cursor: pointer;
}

main {
    margin: 5px;
    flex-grow: 1;
}

#infopanel {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.subpanel {
    background: gray;
    padding: 1px 5px;
    border-radius: 2px;
    margin: 4px;
    overflow-x: auto;
}

#graphicpanel {
    width: 60%;
    float: right;
    height: 100%;
    box-sizing: border-box;
}

.border {
    border: white solid;
}

.datatable {
    font-family: system-ui, sans-serif;
    color: whitesmoke;
    background: #555;
}

.datatable, .datatable td, .datatable th {
    border-collapse: collapse;
    border: #222 solid;
}